.mr-cont {
    background: url(质感4K（1）.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.video_PC {
    margin: 0px;
    padding: 0px;
    position: fixed;
    right: 0px;
    bottom: 0px;
    min-width: 100%;
    min-height: 100%;
    height: auto;
    width: 100%;
    text-align: center;
    /*加滤镜*/
    /*filter: blur(15px); //背景模糊设置 */
    /*-webkit-filter: grayscale(100%);*/
    /*filter:grayscale(100%); //背景灰度设置*/
    z-index: -1/* 视频出现在文本后 */
}

.video_Phone {
    margin: 0px;
    padding: 0px;
    position: fixed;
    right: 0px;
    bottom: 0px;
    min-width: 100%;
    min-height: 100%;
    height: 100%;
    width: auto;
    text-align: center;
    /*加滤镜*/
    /*filter: blur(15px); //背景模糊设置 */
    /*-webkit-filter: grayscale(100%);*/
    /*filter:grayscale(100%); //背景灰度设置*/
    z-index: -11
}

.table {
    /* 边框厚度 */
    border: 0.094rem;
    border: aqua;
    /* 圆角 */
    border-radius: 0.25rem;
    text-shadow: darkgreen;
    text-align: center;
    color: darkturquoise;
    width: auto;
    height: auto;
    /* 表格居中 */
    margin: 0 auto;
    text-align: center;
}

.transition {
    width: 100px;
    height: 100px;
    background: red;
    transition: width 1s;
    -webkit-transition: width 8s;
    /* Safari */
}

.hover {
    width: 187.5rem;
}

.form {
    padding: 4rem 3.1rem;
}

.label {
    color: rgb(119, 245, 2);
    display: block;
    padding-top: 0.625rem;
    position: relative;
}

.label input {
    height: 1.56rem;
    width: 12.5rem;
    position: absolute;
}

.label image {
    height: 17.5rem;
}

.charset_title {
    color: rgb(0, 248, 248);
    font-size: xx-large;
    text-align: center;
}

.charset_article {
    color: rgb(228, 228, 228);
    font-size: medium;
    text-align: center;
}

.link_c_m_white {
    text-decoration: none;
    color: rgb(245, 245, 245);
    text-align: center;
    font-size: medium;
}

.link_c_l_red {
    text-decoration: none;
    color: rgb(255, 0, 0);
    text-align: center;
    font-size: xx-large;
}

.link_c_l_blue {
    text-decoration: none;
    color: rgb(0, 174, 255);
    text-align: center;
    font-size: xx-large;
}

.link_c_l_green {
    text-decoration: none;
    color: rgb(0, 255, 115);
    text-align: center;
    font-size: xx-large;
}

.link_c_l_black {
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: xx-large;
}