.mr-cont {
    background: url(质感4K（1）.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.transition {
    width: 100px;
    height: 100px;
    background: red;
    transition: width 1s;
    -webkit-transition: width 8s;
    /* Safari */
}

.hover {
    width: 187.5rem;
}

.form {
    padding: 4rem 3.1rem;
}

.label {
    color: rgb(119, 245, 2);
    display: block;
    padding-top: 0.625rem;
    position: relative;
}

.label input {
    height: 1.56rem;
    width: 12.5rem;
    position: absolute;
}

.label image {
    height: 17.5rem;
}

.charset_title {
    color: rgb(0, 248, 248);
    font-size: xx-large;
    text-align: center;
}

.charset_article {
    color: rgb(228, 228, 228);
    font-size: medium;
    text-align: center;
}

.link_c_m_white {
    text-decoration: none;
    color: rgb(245, 245, 245);
    text-align: center;
    font-size: medium;
}

.link_c_l_red {
    text-decoration: none;
    color: rgb(255, 0, 0);
    text-align: center;
    font-size: xx-large;
}

.link_c_l_blue {
    text-decoration: none;
    color: rgb(0, 174, 255);
    text-align: center;
    font-size: xx-large;
}

.link_c_l_green {
    text-decoration: none;
    color: rgb(0, 255, 115);
    text-align: center;
    font-size: xx-large;
}

.link_c_l_black {
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: xx-large;
}
